<h2 class="font-kani text-center">Post List</h2>
<br>

<div class="row">
  <div class="col">

    <table class="table">

      <thead class="table-secondary">
        <tr>
          <th class="text-center">Id</th>
          <th class="text-center">Post</th>
          <th class="text-center">Action</th>
        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let post of vectorPostList">
          <td class="text-center font-kani">{{post.id}}</td>
          <td class="text-center font-kani">{{post.title}}</td>
          <td class="text-center font-kani">
            <a href="#"
               routerLink="/posts/post/{{post.id}}"
               (click)="saveLinkPostDetail(post.id)">Ver Detalle Post</a>
          </td>
        </tr>


    </table>

  </div>
</div>
